.awards {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.awards h2 {
  font-size: 1.5rem;
}

.awards-list {
  list-style: none;
  margin-bottom: 100px;
}

.awards-list li {
  background-color: var(--cbu-royalblue);
  color: #fff;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 4px #0001;
  margin-bottom: 1rem;
}

.awards-list li:last-of-type {
  margin-bottom: 0;
}

.awards-list li p:nth-of-type(2) {
  color: var(--cbu-gold);
}

