.global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 55px;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #0002;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ffffff;
}

.global-header .logo {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  text-decoration: none;
  color: inherit;
}

.global-header .logo img {
  display: block;
  width: 38px;
  height: 38px;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 50%;
}

.global-header .logo span {
  font-size: 1rem;
  font-weight: 600;
}

.global-header nav {
  height: 100%;
}

.global-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.global-header nav ul li a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--cbu-gold);
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transition: .3s ease-in-out transform;
}
.global-header nav ul li a:hover::after {
  transform: scaleX(100%);
}

.global-header nav ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 0.825rem;
  height: 100%;
}

