.global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 55px;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #0002;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #ffffff;
}

.global-header .logo {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  text-decoration: none;
  color: inherit;
}

.global-header .logo img {
  display: block;
  width: 38px;
  height: 38px;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 50%;
}

.global-header .logo span {
  font-size: 1rem;
  font-weight: 600;
}

.global-header nav {
  height: 100%;
}

.global-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.mobile-nav ul li a::after,
.global-header nav ul li a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--cbu-gold);
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transition: .3s ease-in-out transform;
}

.mobile-nav ul li a:hover::after,
.global-header nav ul li a:hover::after {
  transform: scaleX(100%);
}

.mobile-nav ul li a,
.global-header nav ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 0.825rem;
  height: 100%;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 2;
  box-shadow: 0 0 4px #0001;
  padding-block: 40px;
  display: none;
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav ul li {
  margin-bottom: 1rem;
}

.mobile-nav ul li a {
  font-size: 1rem;
}

.global-header button.mobile-nav-button {
  border: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #0000;
  display: none;
  padding: 0;
}

.global-header button.mobile-nav-button svg {
  pointer-events: none;
}

.global-header button.mobile-nav-button svg path {
  transition: 300ms ease-in-out;
  stroke: #121318;
}

.global-header button.mobile-nav-button svg path:nth-child(1) {
  stroke-dasharray: 60 138;
}

.global-header button.mobile-nav-button svg path:nth-child(2) {
  stroke-dasharray: 40 30;
}

.global-header button.mobile-nav-button svg path:nth-child(3) {
  stroke-dasharray: 60 138;
}

.global-header button.mobile-nav-button.toggled svg path:nth-child(1) {
  stroke-dasharray: 55 130;
  stroke-dashoffset: -125;
}

.global-header button.mobile-nav-button.toggled svg path:nth-child(2) {
  stroke-dashoffset: -30;
  stroke-dasharray: 1 30;
  stroke-width: 0;
}

.global-header button.mobile-nav-button.toggled svg path:nth-child(3) {
  stroke-dasharray: 55 130;
  stroke-dashoffset: -125;
}

@media screen and (max-width: 980px) {
  .global-header {
    padding: 0 40px;
  }
}

@media screen and (max-width: 780px) {
  .global-header nav {
    display: none;
  }

  .global-header button.mobile-nav-button {
    display: flex;
  }
}

@media screen and (max-width: 780px) {
  .global-header {
    padding-inline: 15px;
  }

  .global-header .logo span {
    display: none;
  }

  .mobile-nav.toggled {
    display: block;
    animation: slide-down .3s ease-in-out forwards;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
