section.hero {
	height: 100vh;
	padding-inline: 40px;
	box-sizing: border-box;
	width: 100%;
	padding-top: 100px;
}

section.hero div {
	font-family: monospace;
}

section.hero h1 {
	margin-block: 2rem;
	font-size: 44px;
	line-height: 2rem;
}

section.hero div.social-media-icons a {
	opacity: 0.8;
	transition: opacity .3s ease-in-out;
}

section.hero div.social-media-icons a:hover {
	opacity: 1;
}

section.hero div.social-media-icons a svg {
	width: 24px;
	height: 24px;
}

/* Carousel */
section.hero div.image-carousel {
	--carousel-size: min(1050px, calc(100vw - 80px));
	margin-top: 50px;
	width: var(--carousel-size);
	overflow: hidden;
	margin: 0 auto;
}

section.hero div.image-carousel div.image-carousel-strip {
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

section.hero div.image-carousel div.image-carousel-strip.smooth-slide {
	transition: transform 1000ms ease-in-out;	
}

section.hero div.image-carousel div.image-carousel-strip img {
	width: var(--carousel-size);
	object-fit: cover;
	display: block;
}

