section.hero {
	padding-inline: 40px;
	box-sizing: border-box;
	width: 100%;
	padding-top: 100px;
  padding: 100px 40px 50px 40px;
}

section.hero div {
	font-family: monospace;
}

/* Carousel */
section.hero div.image-carousel {
	--carousel-size: min(1050px, calc(100vw - 80px));
	margin-top: 50px;
	width: var(--carousel-size);
	overflow: hidden;
	margin: 0 auto;
}

section.hero div.image-carousel div.image-carousel-strip {
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

section.hero div.image-carousel div.image-carousel-strip.smooth-slide {
	transition: transform 1000ms ease-in-out;	
}

section.hero div.image-carousel div.image-carousel-strip img {
	width: var(--carousel-size);
	object-fit: cover;
	display: block;
}

